[Unit]
Description="lidarr Quadlet for my arr suite"

[Service]
Restart=always
WorkingDirectory=/usr/local/podman/configs/lidarr

[Container]
Pod=arr-stack.pod
ContainerName=lidarr
User=992
Group=992
Environment=TZ=America/New_York
Image=lscr.io/linuxserver/lidarr:latest
Volume=/usr/local/podman/configs/lidarr:/config
AutoUpdate=registry

